$red-color: rgb(231,76,60);
$blue-color: #3a8ee6;
$purple-color: rgb(190,140,225);
$grey-color: rgb(219,219,219);
.red{
  background: $red-color;
}
.blue{
  background: $blue-color;
}

.topic{
  border-bottom: 1px solid $grey-color;
  .head{
    margin: 20px;
    display: flex;
    flex-direction: row;
    .badge{
      padding: 10px;
      border-radius: 20px;
      width: 120px;
      font-size: 32px;
      margin-right: 20px;
      color:white;
      background: #3a8ee6;
    }
    .title{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .content{
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 0;
    font-size: 35px;
    justify-content: space-between;
    .left{
      display: flex;
      flex-direction: row;
      .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-right: 25px;
      }
      .info{
        display: flex;
        flex-direction: column;
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      .wrapCount{
        display: flex;
        flex-direction: row;
      }
    }
  }
}
